---
const rank = await fetch('https://tryhackme.com/api/user/rank/RusticXploit').then(async res => {
  let json = await res.json()
  return json.userRank
})

const participents = await fetch('https://tryhackme.com/api/site-stats').then(async res => {
  let json = await res.json()
  return json.totalUsers
})

const percent = ((rank / participents) * 100).toFixed(0)

const try_hack_me = await fetch('https://tryhackme.com/api/all-completed-rooms?username=RusticXploit&limit=1000&page=1').then(async res => {
  let data = await res.json()
  let sorted = data.sort((a,b) => {
    if (a.title > b.title) {
      return 1;
    }
    if (a.title < b.title) {
      return -1;
    }
    return 0;
  })
  return sorted
})
---
<div class="mt-8 text-slate-800">
  <h3
    class="text-2xl"
  >
    <a
      target="_blank"
      class="hover:underline"
      href="https://tryhackme.com/p/RusticXploit"
    >Try Hack Me Rooms Completed</a> &ndash; {try_hack_me.length}
  </h3>

  <p>Top {percent}% of users</p>

  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-2 mx-auto text-slate-900 px-2 sm:px-0"
  >
    {try_hack_me.map((event) => (
      <div
        class="flex flex-col border py-2 px-4 bg-slate-200 rounded-lg mb-1 border border-blue-200"
      >
        <h3 class="text-xl">{event.title}</h3>
        <div class="flex flex-row mt-2">
          <img class="w-40 mr-2" src={event.image} />
          <div class="">
           {event.description}
          </div>
        </div>
      </div>
    ))}
  </div>
</div>
