---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;


---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<hr />
        <div class="bg-red-200 p-2 rounded mb-4 border border-red-500 text-red-600">
          <strong>These are my notes.</strong>
          <p>
            This isn't a tutorial. There are things in this document that work in my environment that likely won't work in yours. Networks and subnets likely need changing for your environment. If you see a domain name, it is likely pointing to the IP address of a machine I have configured for me, in my environment.
          </p>
          <p>
            That being said, if you need help, feel free to reach out and ask for it. I'm here...
          </p>
        </div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
